# OS files
.DS_Store
Thumbs.db

# Arduino build files
*.hex
*.elf

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Logs
*.log

# Environment variables / secrets
.env

# IDE settings
.vscode/
.idea/

# Temporary files
*.tmp
*.swp